body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:40px;
  width:52px;
  height:18px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:5px;
  height:18px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u4597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:70px;
  width:845px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  word-wrap:break-word;
}
#u4599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:692px;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:128px;
  width:932px;
  height:692px;
}
#u4599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
