.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片 {
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
._流程形状 {
}
._连接线 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._未知的图形 {
}
.icon {
}
._图像 {
  color:#000000;
}
.ellipse {
}
.image {
}
._水平线 {
}
.label {
  font-size:14px;
  text-align:left;
}
._未知的图形n {
}
._底图 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.placeholder {
}
._垂直线 {
}
.table_cell {
}
._连接线1 {
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题栏-含阴影 {
}
._标题名称 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._叉 {
}
._小icon替代符 {
}
._小三角 {
}
._菜单底图 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._弹窗底图 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._弹窗半透明层 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._弹窗操作-弱化 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D4D4D;
  text-align:center;
  line-height:normal;
}
._弹窗操作-强化 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#35A0F4;
  text-align:center;
  line-height:normal;
}
._勾 {
}
._图像1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.icon1 {
}
._图片1 {
}
.flow_shape {
}
._连接线2 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._图片2 {
}
._无框有底色 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.shape {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._未知形状 {
}
.box_38888 {
}
._列表占位 {
}
.image1 {
  color:#000000;
}
._二级标题1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.icon2 {
}
.marker1 {
  color:#FFFFFF;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.ellipse1 {
}
._形状 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.arrow {
}
._文本段落1 {
  text-align:left;
}
.sticky_11 {
  text-align:left;
}
.__19998 {
}
.flow_shape1 {
}
.shape1 {
}
.box_2 {
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.image2 {
  color:#000000;
}
.paragraph1 {
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.connector {
}
.ellipse2 {
}
._文本 {
  text-align:left;
}
.icon3 {
}
._水平线1 {
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
._文本段落2 {
  text-align:left;
}
._半透明层 {
}
._热区 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._浮动按钮-大 {
}
._浮动按钮-小 {
}
._扁平按钮-弱 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._扁平按钮-强 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#4DA7F3;
  text-align:center;
  line-height:normal;
}
._禁用按钮 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
  line-height:normal;
}
._悬浮按钮-弱 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._悬浮按钮-强 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._悬浮按钮-禁用 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
  line-height:normal;
}
._大按钮-强 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
._大按钮-弱 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
}
._大按钮-禁用 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
._小按钮-强 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
._小按钮-弱 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
._形状1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._列表占位框 {
}
.box_1 {
}
.box_3 {
}
.box_21 {
}
.box_31 {
}
.checkbox {
  text-align:left;
}
._副标题2 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
._弹窗标题 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.new_style2 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.button {
}
._有边框 {
}
.new_style {
}
.new_style1 {
}
.new_style31234 {
}
