body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1227px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:40px;
  width:97px;
  height:22px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:5px;
  height:18px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:1368px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:91px;
  width:1177px;
  height:1368px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
